{% extends 'shared/base.html' %}

{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'styles/group_chat.css' %}" />
{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="group_chat_main_container">
    <div class="current_group_chats_container">
        <div class="current_group_chats_title_wrapper">
            <div class="current_group_chats_title">Group Chats
                <!-- <i class="far fa-comments"></i> -->
                <i class="fas fa-comments"></i>
            </div>
        </div>
        <div class="group_chat_list">
            {% if group_chats %}
            {% for chat in group_chats %}
            <div class="chat_item">{{chat.name}}</div>
            {% endfor %}
            {% else %}
            <div class="no_chat_item">None</div>
            {% endif %}
        </div>
    </div>

    <div class="add_new_group_container">
        <div class="create_new_group_btn_wrapper">
            <div class="create_new_group_chat_btn">Create New Group<i class="fas fa-comment-alt"></i>
                <!-- <i class="fas fa-users"></i> -->
            </div>
        </div>

        <!-- Create new group form -->
        <div id="new_group_create_form_container" class="login-wrap" style="display: none;">
            <button class="close_form"></button>
            <div class="login-html">
                <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label id="form_title" for="tab-1"
                    class="tab">New Group Chat</label>
                <div class="login-form">
                    <form class="sign-in-htm" action="{% url 'quantumforum:group_chat' %}" method="POST">
                        {% csrf_token %}
                        <div class="group">
                            <label for="group_name" class="label">Group Name</label>
                            <input id="group_name" type="text" class="input" name="group_name" autofocus required />
                        </div>
                        <div class="group">
                            <label for="participants" class="label">Participants</label>
                            <div href="#modal-5" data-micromodal-trigger="modal-5" class="add_new_participant_btn">Add<i class="fas fa-user-plus"></i></div>
                        </div>
                        <div id="submit_group_btn" class="group">
                            <input id="button_submit_group" type="submit" class="button" value="Create Group">
                        </div>
                        <div class="hr"></div>
                        <div class="list_of_participants_container">
                            <div class="list_of_participants_title_wrapper">
                                <div class="invitee_list_title">Users Invited To This Group Chat</div>
                                <div class="clear_all_button">Clear All</div>
                            </div>
                                <ul class="invitee_list">
                                </ul>
                        </div>
                    </form>
                </div>
                <div class="signature_group">
                    <p id="signature_font_group">
                        Made by <a href="https://matt-crook-io.now.sh/">Quantum Coasters</a> <i
                            class="fas fa-trademark"></i>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Active quantum friends side nav (right side nav) List populated from server (group_chat.py) -->
    <div class="friends_master_container">
        <div class="friends_title_container">
            <div class="friends_title">Active Quantum Friends <i class="fas fa-globe"></i>
                <!-- <i class="fas fa-circle"></i> -->
            </div>
        </div>
        <div class="active_friends_list_container">
            {% if has_active_friends %}
            {% for friend in active_friends %}
            <div class="active_friend_row_wrapper">
                <i id="fas_circle" class="fas fa-circle"></i>
                <div class="active_friend_profile_pic">
                    {% if friend.user.image %}
                    <img class="active_friends_pic" src="{{friend.user.image.image.url}}" />
                    {% else %}
                    <img class="active_friends_pic" src="{{default_profile_pic}}" />
                    {% endif %}
                </div>
                <div class="active_friend_list_item">{{friend.first_name}} {{friend.last_name}}</div>
                <i id="i_active_friends_end" class="far fa-check-circle"></i>

                <!-- <i class="fas fa-user-minus"></i>
                    <i class="fas fa-user-slash"></i> -->
            </div>
            {% endfor %}
            {% else %}
            <div class="no_active_friends">No friends currently online</div>
            {% endif %}
        </div>
    </div>
</div>


<!-- Search and add friends to group chat Modal (List populated dynamically in createGroupForm.js) -->
<div class="modal micromodal-slide" id="modal-5" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-5-title">
            <header id="add_friend_group_chat_header" class="modal__header">
                <div class="search_quantum_friends">
                    <input class="search_quantum_friends_input" id="friends_search" type="search"
                        placeholder="Search For Quantum Users..." />
                    <div class="divider"></div>
                    <i class="fas fa-search"></i>
                </div>
                <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
            </header>
            <main class="modal__content" id="modal-5-content">
                <div class="friends_list_container">
                    <div id="results"></div>
                </div>
                <footer class="modal__footer">
                    <button class="modal__btn" data-micromodal-close
                        aria-label="Close this dialog window">Close</button>
                </footer>
                <div class="signature">
                    <p id="signature_font_friends_list">
                        Made by <a href="https://matt-crook-io.now.sh/">Quantum Coasters</a><i id="i"
                            class="fas fa-trademark"></i>
                    </p>
                </div>
            </main>
        </div>
    </div>
</div>

<!-- if error with data or in except send to error page. So put error in context and send here where the template will pick it up. -->
{% else %}
<div>
    <a href="{% url 'quantumforum:error' %}">Error Page</a>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'scripts/createGroupForm.js'%}"></script>
{% endblock %}
