[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aioredis = "*"
asgiref = "*"
astroid = "*"
async-timeout = "*"
attrs = "*"
autobahn = "*"
autopep8 = "*"
certifi = "*"
cffi = "*"
channels = "*"
channels-redis = "*"
chardet = "*"
constantly = "*"
coverage = "*"
cryptography = "*"
daphne = "*"
defusedxml = "*"
django-allauth = "*"
django-cors-headers = "*"
django-environ = "*"
django-filter = "*"
django-rest-auth = "*"
django-webpack-loader = "*"
djangorestframework = "*"
djangorestframework-queryfields = "*"
djangorestframework-simplejwt = "*"
drf-jwt = "*"
ecdsa = "*"
gunicorn = "*"
hiredis = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
msgpack = "*"
oauthlib = "*"
psycopg2-binary = "*"
pycparser = "*"
pylint = "*"
pylint-django = "*"
pylint-plugin-utils = "*"
python-dotenv = "*"
python-jose = "*"
python3-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
rsa = "*"
selenium = "*"
service-identity = "*"
six = "*"
social-auth-app-django = "*"
social-auth-core = "*"
sqlparse = "*"
toml = "*"
txaio = "*"
typed-ast = "*"
urllib3 = "*"
wrapt = "*"
Automat = "*"
Django = "*"
Pillow = "*"
PyJWT = "*"
pyOpenSSL = "*"
Twisted = "*"

[dev-packages]

[requires]
python_version = "3.8"
