aioredis
asgiref
astroid
async-timeout
attrs
autobahn
Automat
autopep8
certifi
cffi
channels
channels-redis
chardet
# cloudinary
constantly
coverage
cryptography
daphne
defusedxml
Django
django-allauth
django-cors-headers
django-environ
django-filter
django-rest-auth
djangorestframework
djangorestframework-queryfields
djangorestframework-simplejwt
drf-jwt
ecdsa
gunicorn
hiredis
hyperlink
idna
incremental
isort
lazy-object-proxy
mccabe
msgpack
oauthlib
Pillow
psycopg2-binary
pyasn1
pyasn1-modules
pycodestyle
pycparser
PyHamcrest
PyJWT
pylint
pylint-django
pylint-plugin-utils
pyOpenSSL
python-dotenv
python-jose
python3-openid
pytz
requests
requests-oauthlib
rsa
selenium
service-identity
six
social-auth-app-django
social-auth-core
sqlparse
toml
Twisted
txaio
typed-ast
urllib3
wrapt
zope.interface
google-python-cloud-debugger
