.error_page_message {
  margin-left: 20px;
}

.error_page_title {
  margin-left: 20px;
  margin-top: 20px;
}

.error_btn {
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  margin-top: 15px;
  border: 1px solid black;
  margin-right: 20px;
}

.error_a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
}



.index_error_page_title {
  text-align: center;
  margin-top: 20px;
  font-size: 30px;
}

.index_error_page_message {

  margin-top: 10px;
  text-align: center;
}


.index_error_btn_wrapper {
  margin-left: 30%;
  margin-right: 20px;
}
